@model ExamQuestion.Models.DbContext.City

<option value=""> --Select City --</option>
@if (ViewBag.CityList != null)
{
    foreach (var i in ViewBag.CityList)
    {
        <option value="@i.Value"> @i.Text</option>
    }
}


